@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<text>
    <h3>Image Details</h3>
</text>
<table border="1px solid black">
    <thead>
    <tr>
        <td align="center"><h4>Original Image</h4></td>
        <td align="center"><h4>Source</h4></td>
        <td align="center"><h4>License</h4></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td align="center"><img src="@Url.Content("~/images/demo/children_PNG17973.png")" /></td>
        <td align="center"><a href="http://pngimg.com/download/17973">pngimg.com</a></td>
        <td align="center"><a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a></td>
    </tr>
    
        
    </tbody>
</table>