@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    @Scripts.Render("~/Scripts/security.js")
}


<div class="imgindex">
    <h1>Fit-Kidz</h1>
    <img src="@Url.Content("~/images/demo/children_PNG17973.png")" class="indeximg"/>

    <div class="divindex"></div>
    <div>
        <p class="indexpara">
            According to the Victorian better health channel, the child obesity numbers in Australia has
            nearly doubled in recent years the reason being unhealthy eating habits, lack of physical
            exercise and family eating patterns. It is important to address these problems earlier in a
            child’s life as obesity leads to health complications such as type 2 diabetes, cholesterol,
            cardiovascular complications etc. Obesity can be prevented, and our website helps motivate
            kids to eat better and do more physical activities.<br /><br/>
            <div style="text-align: center">
                <img src="@Url.Content("~/images/demo/ob-kids-statics.jpeg")" class="indexchart" />
            </div>
        <p>
            <br /><br />
        <p class="indexpara">
            The challenge is to encourage children to choose a healthier diet and to lead a more active
            lifestyle from an earlier age. <br/><br/>

            The website we are designing is targeted towards fighting obesity in children aged 9-12 years. <br/><br/>

            The website aims at raising awareness of the problem of child obesity and provides the user with aids to help fight this problem at an early age.
        </p>
    </div>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@